.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 5rem auto 3rem;
    max-width: 550px;
    color: #fff;

    .h1 {
        letter-spacing: 8px;
    }

    .themeChangeIcon {
        cursor: pointer;
        opacity: .7;
        transition: 300ms ease;

        &:hover {
            transform: scale(1.3) rotate(45deg);
            opacity: 1;
        }
    }
}