.form {
    display: flex;
    justify-content: center;
    .form-group {
        width: 90%;
        max-width: 650px;
        margin: auto;

        .todoinput {
            width: 100%;
            padding: .8em;
            font-size: 1.2rem;
            font-family: inherit;
    
            &::placeholder {
                opacity: .2;
                font-size: 1rem;
            }
    
            &:focus, &:active {
                outline: 1px dotted rgba(0, 0, 0, 0.254);
            }
        }
    }

    .submitBtn {
        display: none;
    }
}