.form {
    display: flex;
    justify-content: center;
    .form-group {
        width: 90%;
        max-width: 650px;
        margin: auto;
        position: relative;

        .circle {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 0;
            left: 1em;
            transform: translateY(66%);
            border-radius: 50%;
            outline: 2px solid rgba(0, 0, 0, 0.575);
        }

        .todoinput {
            width: 100%;
            padding: .8em 1em .8em 3em;
            font-size: 1.2rem;
            font-family: inherit;
    
            &::placeholder {
                opacity: .2;
                font-size: 1rem;
            }
    
            &:focus, &:active {
                outline: 1px dotted rgba(0, 0, 0, 0.254);
            }
        }
    }

    .submitBtn {
        display: none;
    }
}

body.dark .form {
    .form-group {
        .todoinput {
            background-color: #25273c;
            color: #fff;
            border: none;
        }
    }
}