.form {
    display: flex;
    justify-content: center;
    .form-group {
        width: 90%;
        max-width: 650px;
        margin: auto;
        position: relative;

        .circle {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 0;
            left: 1em;
            transform: translateY(50%);
            border-radius: 50%;
            outline: 2px solid rgba(0, 0, 0, 0.201);
        }

        .todoinput {
            width: 100%;
            padding: .8em 1em .8em 3em;
            font-size: 1.2rem;
            font-family: inherit;
            border: none;
            border-radius: 8px;
    
            &::placeholder {
                opacity: .4;
                font-size: 1rem;
            }
    
            &:focus, &:active {
                outline: 3px solid rgba(0, 0, 0, 0.165);
            }
        }
    }

    .submitBtn {
        display: none;
    }
}

body.dark .form {
    .form-group {

        .circle {
            outline-color: rgba(255, 255, 255, 0.138);
        }
        .todoinput {
            background-color: #25273c;
            color: #fff;
        }
    }
}