.todoList {
    width: 90%;
    max-width: 650px;
    margin: 2rem auto 1rem;
    text-align: center;
    list-style-type: none;
    border-radius: 8px;
    color: #474658;
    font-weight: 500;
    background-color: #f4f3f8;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.271);
    .todo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e6e5ea;
        padding: 1em 1.5em;
        cursor: pointer;

        div {
            display: flex;
            align-items: center;
        }

        .circle {
            flex: 1 0 25px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 1px solid rgba(0, 0, 0, 0.201);

            &:hover {
                outline-color: rgba(0, 0, 0, 0.386);
            }

            .checkIcon {
                transform: scale(1.2);
            }   
        }

        .dis {
            margin-left: 1rem;   
            text-align: left; 
            transition: 1000ms ease;
        }

        .closeIcon {
            display: none;
        }

        &:hover .closeIcon {
            display: block;
        }
    }

    .todoListLastRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3em 1.5em;
        color: #606176;
        position: relative;

        .clearCompleted {
            cursor: pointer;

            &:hover {
                color: #25273c;
            }
        }
    }
}

.filtersRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;

    .filters {
        opacity: .6;
        cursor: pointer;
        color: #5b5d76;
        &:hover {
            color: #25273c;
            opacity: 1;
        }
    }
}

.message {
    text-align: center;
    margin: 3rem auto;
    color: #606176;
}

body.dark .todoList {
    background-color: #25273c;
    color: #c6c8df;

    .todo {
        border-color: #37394e;

        .circle {
            outline-color: rgba(255, 255, 255, 0.138);

            &:hover {
                outline-color: rgba(255, 255, 255, 0.289);
            }
        }
    }

    .todoListLastRow {
        .clearCompleted {
            &:hover {
                color: #fff;
            }
        }
    }
}

body.dark .filtersRow {
    background-color: #25273c;

    .filters {
        &:hover {
            color: #fff;
        }
    }
}

@media (max-width: 600px) {
    .filtersRow {
        position: absolute;
        bottom: -70px;
        width: 100%;
        left: 0;
        max-width: 650px;
        padding: 1em 1.5em;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.271);
    }

    .message {
        margin-top: 6rem;
    }
}